/* Search result page */
body.search.search-results .wp-block-post-template li {
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
}

body.search.search-results .wp-block-post-template li div .wp-block-columns div:first-child {
    margin: auto;
}

body.search.search-results .wp-block-post-template li div .wp-block-columns div:last-child {
    display: none;
}

body.search.search-results .wp-block-post-template li div figure {
    max-width: 23rem;
}
