@font-face {
	font-family: 'Yekan';
	src: url('https://cdn.cleveraj.net/fonts/includes/WebYekan.eot');
	src: url('https://cdn.cleveraj.net/fonts/includes/WebYekan.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.cleveraj.net/fonts/includes/WebYekan.woff') format('woff'),
		 url('https://cdn.cleveraj.net/fonts/includes/WebYekan.ttf') format('truetype'),
		 url('https://cdn.cleveraj.net/fonts/includes/WebYekan.svg#WebYekan') format('svg');
}

@font-face {
	font-family: XM Yekan;
	font-weight: normal;
	font-style: normal;
	src: url('https://cdn.cleveraj.net/fonts/includes/XMYekan.eot');
	src: url('https://cdn.cleveraj.net/fonts/includes/XMYekan.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.cleveraj.net/fonts/includes/XMYekan.woff2') format('woff2'),
		 url('https://cdn.cleveraj.net/fonts/includes/XMYekan.woff') format('woff'),
		 url('https://cdn.cleveraj.net/fonts/includes/XMYekan.ttf') format('truetype');
}

@font-face {
	font-family: XM Yekan;
    font-style: normal;
    font-weight: bold;
	src: url('https://cdn.cleveraj.net/fonts/includes/XMYekan-Bold.eot');
	src: url('https://cdn.cleveraj.net/fonts/includes/XMYekan-Bold.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.cleveraj.net/fonts/includes/XMYekan-Bold.woff2') format('woff2'),
		 url('https://cdn.cleveraj.net/fonts/includes/XMYekan-Bold.woff') format('woff'),
		 url('https://cdn.cleveraj.net/fonts/includes/XMYekan-Bold.ttf') format('truetype');
}

body {
  --wp--preset--color--block--background: rgba(238, 238, 238, 0.47);
	--wp--preset--font-family--system-font: XM Yekan, sans-serif !important;
	--wp--preset--font-family--source-serif-pro: XM Yekan, serif !important;
}

html {
	scroll-behavior: smooth;
}

/* All buttons on website */
form button {
    background-color: #168570e0 !important;
    cursor: pointer;
    border-radius: 10px !important;
    border: none !important;
}

form input[type=number] {
    background: #1685701a;
    border: none !important;
    border-radius: 5px !important;
}

/* @beta */
form select {
    border: none !important;
    padding: 7px !important;
    border-radius: 3px;
}

.wp-block-navigation:not(.has-background)
	.wp-block-navigation__responsive-container.is-menu-open {
	color: var(--wp--preset--color--foreground);
	background: var(--wp--preset--color--background) !important;
}


/**********************************/
/*********** Dark theme ***********/
/**********************************/

@media (prefers-color-scheme: dark) {
	body {
		--wp--preset--color--foreground: #ffffff !important;
		--wp--preset--color--background: #121212 !important;
		--wp--preset--color--block--background: #222222 !important;
		--wp--preset--color--home--background: #222222 !important;

		/*
			WooCommerce
		*/
		--wp--wc--product--border: solid 1px rgba(105, 105, 105, 0.199);
	}
}
